/* ---------------------- */
/* productCard */
/* ---------------------- */
.productCard {
    width: 230px;
    height: 350px;
    margin: 20px;
    display: inline-block;
    float: left;
    position: relative;
    flex: 0 1 230px;
    background-color: #F2F4F7;
}
.productCard img.productImg {
    max-width: 230px;
    margin-bottom: 10px;
    background-color: white;
}
.productCard a:hover img.productImg {
    opacity: 0.9;
}

.productCard h3 {
    min-width: 230px;
    text-align: left;
    /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 13px;
    font-weight: 400;
    background: none;
    color: #333;
}
.productCard p {
    text-align: left;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 200;
    position: absolute;
    left: 39px;
    top: 324px;

    line-height: 1 !important;
    color: #fbb710 !important;
    font-size: 24px !important;
    margin-bottom: 10px !important;

}
.productCard .priceOld {
    text-decoration: line-through;
    color: red;
    font-size: 12px;
}
.productCard a:hover p {
    left: 39px;
    top: 324px;
}
.productCard a {
    text-decoration: none;
    /*border-bottom: none;*/
    color: #333;
    background-color: transparent;
    position: absolute;
    height: 410px;
    left: -30px;
    top: -30px;
    padding: 29px;
    display: block;
    border: solid 1px #F7FAFF;
}
.productCard a:hover {
    color: #000000;
    height: 410px;
    left: -30px;
    top: -30px;
    padding: 29px;
    border: solid 1px #dddddd;
    background-color: #F2F4F7;
    z-index: 100;
}
.productCard .cart {
    font-size: 20px;
    background-color: transparent;
    color: gray;
    border: none;
    position: absolute;
    right: 41px;
    top: 340px;
}
.productCard .cart:hover {
    background-color: transparent;
    color: #555555;
}
.productCard a:hover .cart {
    right: 41px;
    top: 340px;
    /*right: 41px;*/
    /*top: 339px;*/
}

/* ---------------------- */
/* End - productCard */
/* ---------------------- */
