/* ---------------------- */
/* productCard */
/* ---------------------- */
/*.productCard {*/
/*    width: 230px;*/
/*    height: 350px;*/
/*    margin: 20px;*/
/*    margin-bottom: 20px;*/
/*    border: 0px solid #cccccc;*/
/*    display: inline-block;*/
/*    float: left;*/
/*    position: relative;*/
/*    flex: 0 1 230px;*/
/*    background-color: #F2F4F7;*/
/*}*/
/*.productCard img.productImg {*/
/*    max-width: 230px;*/
/*    margin-bottom: 10px;*/
/*}*/
/*.productCard a:hover img.productImg {*/
/*    opacity: 0.9;*/
/*}*/

/*.productCard h3 {*/
/*    min-width: 230px;*/
/*    text-align: left;*/
/*    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*    font-size: 13px;*/
/*    font-weight: 400;*/
/*    background: none;*/
/*    color: #333;*/
/*}*/
/*.productCard p {*/
/*    text-align: left;*/
/*    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
/*    font-weight: 200;*/
/*    position: absolute;*/
/*    left: 10px;*/
/*    top: 300px;*/

/*    line-height: 1 !important;*/
/*    color: #fbb710 !important;*/
/*    font-size: 24px !important;*/
/*    margin-bottom: 10px !important;*/

/*}*/
/*.productCard .priceOld {*/
/*    text-decoration: line-through;*/
/*    color: red;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*}*/
/*.productCard a:hover p {*/
/*    left: 39px;*/
/*    top: 329px;*/
/*}*/
/*.productCard a {*/
/*    transition: none;*/
/*    text-decoration: none;*/
/*    border-bottom: none;*/
/*    color: #333;*/
/*    background-color: transparent;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    display: block;*/
/*}*/
/*.productCard a:hover {*/
/*    color: #000000;*/
/*    height: 420px;*/
/*    left: -30px;*/
/*    top: -30px;*/
/*    padding: 29px;*/
/*    border: solid 1px #cccccc;*/
/*    z-index: 100;*/
/*}*/
/*.productCard .cart {*/
/*    font-size: 20px;*/
/*    background-color: transparent;*/
/*    color: gray;*/
/*    position: absolute;*/
/*    right: 12px;*/
/*    top: 295px;*/
/*}*/
/*.productCard .cart:hover {*/
/*    background-color: transparent;*/
/*    color: #555555;*/
/*}*/
/*.productCard a:hover .cart {*/
/*    right: 41px;*/
/*    top: 324px;*/
/*}*/

.description, .description p {
    color: #555555 !important;
    font-size: 14px !important;
    line-height: 1.4;
}

/* ---------------------- */
/* End - productCard */
/* ---------------------- */
